In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [90]:
%run scripts/helper.py
%matplotlib inline

In [63]:
magazino_data = load_data('./train.csv/train.csv', index_col='id')

### Information about the dataset

In [64]:
magazino_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24875 entries, 1000001 to 1024875
Data columns (total 47 columns):
 n_tokens_title                  24875 non-null int64
 n_tokens_content                24875 non-null int64
 n_unique_tokens                 24875 non-null float64
 n_non_stop_words                24875 non-null float64
 n_non_stop_unique_tokens        24875 non-null float64
 num_hrefs                       24875 non-null int64
 num_self_hrefs                  24875 non-null int64
 num_imgs                        24875 non-null int64
 num_videos                      24875 non-null int64
 average_token_length            24875 non-null float64
 num_keywords                    24875 non-null int64
Category_article                 24875 non-null object
 kw_min_min                      24875 non-null int64
 kw_max_min                      24875 non-null float64
 kw_avg_min                      24875 non-null float64
 kw_min_max                      24875 non-null int64
 kw_max_max                      24875 non-null int64
 kw_avg_max                      24875 non-null float64
 kw_min_avg                      24875 non-null float64
 kw_max_avg                      24875 non-null float64
 kw_avg_avg                      24875 non-null float64
 self_reference_min_shares       24875 non-null float64
 self_reference_max_shares       24875 non-null int64
 self_reference_avg_sharess      24875 non-null float64
Day_of_publishing                24875 non-null object
 LDA_00                          24875 non-null float64
 LDA_01                          24875 non-null float64
 LDA_02                          24875 non-null float64
 LDA_03                          24875 non-null float64
 LDA_04                          24875 non-null float64
 global_subjectivity             24875 non-null float64
 global_sentiment_polarity       24875 non-null float64
 global_rate_positive_words      24875 non-null float64
 global_rate_negative_words      24875 non-null float64
 rate_positive_words             24875 non-null float64
 rate_negative_words             24875 non-null float64
 avg_positive_polarity           24875 non-null float64
 min_positive_polarity           24875 non-null float64
 max_positive_polarity           24875 non-null float64
 avg_negative_polarity           24875 non-null float64
 min_negative_polarity           24875 non-null float64
 max_negative_polarity           24875 non-null float64
 title_subjectivity              24875 non-null float64
 title_sentiment_polarity        24875 non-null float64
 abs_title_subjectivity          24875 non-null float64
 abs_title_sentiment_polarity    24875 non-null float64
 shares                          24875 non-null int64
dtypes: float64(33), int64(12), object(2)
memory usage: 8.9+ MB

### There are no missing values in this dataset.

In [65]:
# there are some columns that start with capital letters
# lets bring uniformity

magazino_data.columns = magazino_data.columns.map(lambda x: x.strip().lower())

In [66]:
print magazino_data.columns

Index([u'n_tokens_title', u'n_tokens_content', u'n_unique_tokens', u'n_non_stop_words', u'n_non_stop_unique_tokens', u'num_hrefs', u'num_self_hrefs', u'num_imgs', u'num_videos', u'average_token_length', u'num_keywords', u'category_article', u'kw_min_min', u'kw_max_min', u'kw_avg_min', u'kw_min_max', u'kw_max_max', u'kw_avg_max', u'kw_min_avg', u'kw_max_avg', u'kw_avg_avg', u'self_reference_min_shares', u'self_reference_max_shares', u'self_reference_avg_sharess', u'day_of_publishing', u'lda_00', u'lda_01', u'lda_02', u'lda_03', u'lda_04', u'global_subjectivity', u'global_sentiment_polarity', u'global_rate_positive_words', u'global_rate_negative_words', u'rate_positive_words', u'rate_negative_words', u'avg_positive_polarity', u'min_positive_polarity', u'max_positive_polarity', u'avg_negative_polarity', u'min_negative_polarity', u'max_negative_polarity', u'title_subjectivity', u'title_sentiment_polarity', u'abs_title_subjectivity', u'abs_title_sentiment_polarity', u'shares'], dtype='object')

### Get target variable

In [67]:
target = get_target(magazino_data, 'shares')

### Summary Statistics

In [68]:
magazino_data.describe()

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
count,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,...,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000,24875.000000
mean,10.402653,547.424683,0.558521,1.012181,0.698535,10.937809,3.293910,4.564864,1.255075,4.549632,...,0.095107,0.756698,-0.260583,-0.523667,-0.107946,0.285313,0.071903,0.341562,0.157802,3394.603819
std,2.121813,471.033124,4.443376,6.602752,4.119873,11.325771,3.768392,8.257914,4.106675,0.842773,...,0.070869,0.247426,0.128034,0.289318,0.096378,0.325900,0.266882,0.188743,0.226923,11442.450834
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,4.000000
25%,9.000000,246.000000,0.470517,1.000000,0.625483,4.000000,1.000000,1.000000,0.000000,4.480420,...,0.050000,0.600000,-0.329488,-0.700000,-0.125000,0.000000,0.000000,0.166667,0.000000,946.000000
50%,10.000000,410.000000,0.539352,1.000000,0.690083,8.000000,3.000000,1.000000,0.000000,4.664530,...,0.100000,0.800000,-0.253333,-0.500000,-0.100000,0.150000,0.000000,0.500000,0.002222,1400.000000
75%,12.000000,719.000000,0.607987,1.000000,0.754417,14.000000,4.000000,4.000000,1.000000,4.857893,...,0.100000,1.000000,-0.187500,-0.300000,-0.050000,0.500000,0.156250,0.500000,0.250000,2800.000000
max,20.000000,8474.000000,701.000000,1042.000000,650.000000,187.000000,63.000000,111.000000,91.000000,7.974684,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.500000,1.000000,690400.000000

In [24]:
magazino_data.shares.describe()

count     24875.000000
mean       3394.603819
std       11442.450834
min           4.000000
25%         946.000000
50%        1400.000000
75%        2800.000000
max      690400.000000
Name: shares, dtype: float64

In [69]:
# magazino_data = magazino_data[magazino_data.shares <= 2800]

In [70]:
# target = magazino_data.shares

### Craft features

In [72]:
features = return_features(magazino_data)

In [91]:
features = add_dummy_variabes(features, magazino_data)

In [93]:
Xt, Xv, yt, yv = split_data(features, target)

In [94]:
lr_model = build_model(Xt, yt)

In [95]:
y_train_pred = predict(lr_model, Xt)

In [96]:
print 'Training score %0.4f ' %(RMSE(yt, y_train_pred))

Training score 12018.9632

In [97]:
y_test_pred = predict(lr_model, Xv)

In [98]:
print 'Testing score %0.4f ' %(RMSE(yv, y_test_pred))

Testing score 7871.6968

### Train on whole dataset and make predictions

In [79]:
model = build_model(features, target)

In [80]:
# Load testing set
magazino_test = load_data('./test.csv', index_col='id')

In [81]:
features_test = return_features(magazino_test)

In [82]:
final_predictions = predict(model, features_test)

In [83]:
make_submission(magazino_test.index.values, final_predictions, 'linear_data_submission.csv')

In [87]:
pd.get_dummies(magazino_data.category_article.head(), prefix='category_')

,category__Business,category__Social Media,category__Technology,category__World
id,,,,
1000001,0,0,1,0
1000002,0,1,0,0
1000003,0,0,0,1
1000004,0,0,1,0
1000005,1,0,0,0